<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li> <%= link_to "Inicio", root_path %></li>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <% if user_signed_in? %>
            <% if current_user.admin? %>
                <li><%= link_to 'Logros', logros_path %></li>
                <li><%= link_to 'Estadisticas', estadisticas_path %></li>
            <% end %>
            <li><%= link_to 'Comprar Puntos',new_compra_path %></li>
            <% if current_user.admin? %>
              <li><%= link_to 'Precios de puntos',precios_path %></li>
            <% end %>
            <li><%= link_to 'Ver Perfil',user_path(current_user.id) %></li>
            <li><%= link_to 'Editar Perfil',edit_user_registration_path %></li>
            <li><%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %></li>
            <li class="round-image-50"><%= image_tag("#{current_user.imagen}") %></li>
        <% else %>
            <li><%= link_to "Iniciar Sesion", new_user_session_path %></li>
            <li> <%= link_to "Registrarse", new_user_registration_path %> </li>
        <% end %>

        </ul>
        
        <% if user_signed_in? %>
        <% current_user.favors.all.each do |p| %>
            <% if p.postulations.first != nil %>

                <p align="center"><%= link_to 'Usted tiene postulaciones pendientes!',user_path(current_user.id) %> </p>
                <% break %>
            <% end %>
         <% end %>
         <% end %>

    
    
</nav>
