<%= form_for(favor) do |f| %>
  <% if favor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(favor.errors.count, "error") %> prohibited this favor from being saved:</h2>

      <ul>
      <% favor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>

  <div class="field">
    <%= f.label :lugar %>
    <%= f.text_field :lugar %>
  </div>

  <div class="field">
    <%= f.label :imagen %>
    <%= f.text_field :imagen %>
  </div>

  <div class="field">
    <%= f.label :titulo %>
    <%= f.text_field :titulo %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
