<h1>Favores recientes</h1>
<br>
<br>
<div class="container">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 blog-content">

    <% @favors.each do |favor| %>
        <div class="col-xs-12">
            <div class="text-center">
              <h2><%= favor.titulo %></h2>
              <li><%= (favor.descripcion).truncate_words(10) %> <%= link_to 'Ver mas', favor %></li>

              <td><%= image_tag("#{favor.imagen}",height: 500, width: 500) %></td>
              <h5>Escrito por: <%= favor.user.nombre %></h5>
            </div>
          <br>
        </div>
      <div class="text-center">
        <%if (user_signed_in? && current_user.id == favor.user_id)%>
        <td><%= link_to 'Editar', edit_favor_path(favor) %></td>
        &nbsp
        &nbsp
        <td><%= link_to 'Eliminar', favor, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
        <%end%>

        <p>--------------------------------------------------------</p>
      </div>
    <% end %>

  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<% if user_signed_in? %>
  <%= link_to 'Nuevo favor', new_favor_path %>
<%end%>