
<% if user_signed_in? %>
<p id="notice"><%= notice %></p>
<<<<<<< HEAD
<strong>Titulo:</strong>
<p>


=======
<p>
  <strong>Titulo:</strong>
>>>>>>> d20cb3e4c3a9977cf7af4af405b09c3f3835cffb
  <%= @favor.titulo %>
</p>

<strong>descripcion:</strong>
<p>

  <%= @favor.descripcion %>
</p>
<strong>Lugar:</strong>
<p>

  <%= @favor.lugar %>
</p>

<<<<<<< HEAD
<%= link_to 'Editar', edit_favor_path(@favor) %> |
<%= link_to 'Volver', favors_path %>

<% else %>
  <p>Ud. Debe registrarse o iniciar sesion para continuar</p>

  <%= link_to "Iniciar sesion", new_user_session_path %>
&nbsp
&nbsp
&nbsp

  <%= link_to "Registrarse", new_user_registration_path %>
=======
>>>>>>> d20cb3e4c3a9977cf7af4af405b09c3f3835cffb


<% end %>
