
<p id="notice"><%= notice %></p>
<strong>Titulo</strong>
<p>


  <%= @favor.titulo %>
</p>

<strong>Descripcion</strong>
<p>

  <%= @favor.descripcion %>
</p>
<strong>Lugar</strong>
<p>

  <%= @favor.lugar %>
</p>

<strong>Imagen</strong>
<p>

  <td><%= image_tag("#{@favor.imagen}",height: 400, width: 400) %></td>
</p>
<%= link_to 'Volver', favors_path %>
&nbsp
&nbsp
&nbsp
<%if (user_signed_in? && current_user.id == @favor.user_id)%>
<%= link_to 'Editar', edit_favor_path(@favor) %> |

<% else %>
 

  <%= link_to "Iniciar sesion", new_user_session_path %>
&nbsp
&nbsp
&nbsp

  <%= link_to "Registrarse", new_user_registration_path %>



<% end %>
