<p id="notice"><%= notice %></p>
<p>
  <strong>Titulo:</strong>
  <%= @favor.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @favor.descripcion %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @favor.lugar %>
</p>



<%= link_to 'Edit', edit_favor_path(@favor) %> |
<%= link_to 'Back', favors_path %>
