<h1>Iniciar Sesion</h1>
&nbsp;

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :Email %><br />
    <%= f.email_field :email, autofocus: true, placeholder: "ejemplo@ejemplo.com"%>
  </div>

  <div class="field">
    <%= f.label :contraseña %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "*********" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :recordar_mis_datos %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Conectarse" %>
  </div>
  &nbsp;
<% end %>

<%= render "users/shared/links" %>
