     <div class="well" style="border-radius: 35px;">
        <div class="media">
          <%= form_for (@postulation) do |p| %>
            <%= p.hidden_field(:descripcion, :value=> @postulation.descripcion)%>
            <%= p.hidden_field(:estado, :value=>'rechazado') %>
            <div class="field">
              <%= p.label :explicacion %><br>
              <%= p.text_area :explicacion,  size: "60x10" , placeholder: "Describa el motivo de su calificacion", required:true %>
            </div>
            <%= p.hidden_field(:favor_id, :value=> @postulation.favor_id)%>
            <%= p.hidden_field(:user_id, :value=> @postulation.user_id)%>