<div class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%=@user.nombre + " " + @user.apellido%></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center">
              <td><%= image_tag("#{@user.imagen}",:class=> "img-circular-perfil" ,:style => "border: 3px solid lightblue",height: 150, width: 150) %></td>
              <br>

            </div>
            <div class=" col-md-9 col-lg-9" align="left">
              <table class="table table-user-information">
                <thead>
                </thead>
              <tbody>
                <tr>
                  <td class="text-right"><span class="glyphicon glyphicon-envelope"></span> E-mail:</td>
                  <td align="left" class="text-left"><%=@user.email%></td>
                </tr>
                <tr>
                  <td class="text-right"><span class="glyphicon glyphicon-earphone"></span> Telefono:</td>
                  <td class="text-left"><%=@user.telefono%></td>
                </tr>
                <tr>
                  <td class="text-right"><span class="glyphicon glyphicon-map-marker"></span> Localidad:</td>
                  <td class="text-left"><%=@user.localidad%></td>
                </tr>
                <% if current_user.id == @user.id or current_user.admin? %>
                <tr>
                  <td class="text-right"><span class="glyphicon glyphicon-calendar"></span> Fecha de nacimiento:</td>
                  <td class="text-left"><%=@user.nacimiento%></td>
                </tr>
                <tr>
                  <td class="text-right"><span class="glyphicon glyphicon-calendar"></span> Fecha de registro</td>
                  <td class="text-left"><%=@user.created_at%></td>
                </tr>
                <tr>
                  <td class="text-right"><span class="glyphicon glyphicon-calendar"></span> Ultima Conexion</td>
                  <td class="text-left"><%=@user.last_sign_in_at%></td>
                </tr>
                <tr>
                  <td class="text-right"><span class="glyphicon glyphicon-calendarglyphicon glyphicon-star"></span> Puntos</td>
                  <td class="text-left"><%=@user.puntos%></td>
                </tr>
                <tr>
                  <td align="left" class="text-left"><%= image_tag("#{@logro.first.imagen}" ,:style => "border: 3px solid orange",height: 100, width: 100,) %></td>
                  <td class="text-left"><%=@logro.first.nombre%></td>
                </tr>
                <% end %>
              </tbody>
              </table>
            </div>
          </div>
        </div>
        <% if current_user.id == @user.id or current_user.admin? %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">Favores publicados</h4>
          </div></div>
          <% @user.favors.where(:estado => "activo").all.each do |favor|%>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4 col-lg-4" align="right">
                  <td><%= link_to favor.titulo, favor %></td>
                </div>
                <div class="col-md-4 col-lg-4" align="center">
                  <td>Tiene <%= Postulation.where(:favor_id => favor.id).count %> postulados</td>
                </div>
                <div class="col-md-4 col-lg-4" align="left">
                  <td><%= link_to 'Ver Postulados', postulation_path(favor) %></td>
                </div></div></div>
          <%end%>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">Favores realizandose</h4>
          </div></div>
          <% @user.favors.where(:estado => "procesando").all.each do |favor|%>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4 col-lg-4" align="right">
                  <td><%= link_to favor.titulo, favor %></td>
                </div>
                <div class="col-md-4 col-lg-4" align="center">
                  <td><%= link_to 'Ver Postulado', user_path(favor.postulacion_id) %></td>
                </div>
                <div class="col-md-4 col-lg-4" align="left">
                  <td><button type="button" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-ok"></i><%= link_to ' Aceptar', positivo_postulations_path(:id => favor.postulations.first.id) %></button></td>
                  <td><button type="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i><%= link_to ' Rechazar', calificar_path(:id => favor.postulations.first.id) %></button></td>
              </div></div></div>
          <%end%>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">Favores cancelados</h4>
          </div></div>
          <% @user.favors.where(:estado => "cancelado").all.each do |favor|%>
            <div class="panel-body">
              <div class="row">
                <td><%= link_to favor.titulo, favor %></td>
            </div></div>
          <%end%>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">Favores terminados</h4>
          </div></div>
          <% @user.favors.where(:estado => "terminado").all.each do |favor|%>
            <div class="panel-body">
              <div class="row">
                <td><%= link_to favor.titulo, favor %></td>
            </div></div>
          <%end%>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">Favores no realizados</h4>
          </div></div>
          <% @user.favors.where(:estado => "rechazado").all.each do |favor|%>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6 col-lg-6" align="right">
                  <td><%= link_to favor.titulo, favor %></td>
                </div>
                <div class="col-md-6 col-lg-6" align="center">
                  <td><button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-refresh"></i><%= link_to ' Reabrir', reabrir_favors_path(:id => favor.id) %></button></td>
            </div></div></div>
          <%end%>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Postulaciones pendientes</h3>
          </div></div>
          <% @user.postulations.where(:estado => "pendiente").all.each do |p|%>
            <div class="panel-body">
              <div class="row">
                <td><%= link_to p.favor.titulo , p.favor %></td>
            </div></div>
          <%end%>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Favores a realizar</h3>
          </div></div>
          <% @user.postulations.where(:estado => "seleccionado").all.each do |p|%>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6 col-lg-6" align="right">
                  <td><%= link_to p.favor.titulo, p.favor %></td>
                </div>
                <div class="col-md-6 col-lg-6" align="left">
                  <td><%= link_to 'Ver Dueño', user_path(p.favor.user_id) %></td>
                </div>
            </div></div>
          <%end%>
           <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">Favores Realizados</h4>
          </div></div>
          <% @user.postulations.where(:estado => "aceptado").all.each do |p|%>
            <div class="panel-body">
              <div class="row">
                  <td><%= link_to p.favor.titulo, p.favor %></td>
            </div></div>
          <%end%>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Postulaciones rechazadas</h3>
          </div></div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3" align="center">
                  <strong>Favor</strong>
                </div>
                <div class="col-md-9 col-lg-9" align="left">
                  <strong>Motivo</strong>
                </div>
                <hr>
                <% @user.postulations.where(:estado => "rechazado").all.each do |p|%>
                <div class="col-md-3 col-lg-3" align="center">
                  <td><%= link_to p.favor.titulo, p.favor %></td>
                </div>
                <div class="col-md-9 col-lg-9" align="left">
                  <td><%= p.explicacion %></td>
                </div>
            </div></div>
          <%end%>
        <% end %>
      </div>
    </div>
  </div>
  <% if current_user.id != @user.id %>
    <button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-menu-left"></i><%= link_to 'Volver', :back %></button></td>
  <% end %>
</div>
