<%= form_for(respuesta) do |f| %>

  <div class="field">
    <%= f.label :respuesta %><br>
    <%= f.text_area :cuerpo , placeholder: "Ingrese su respuesta" %>
  </div>
  <%= f.hidden_field :favor_id, :value => params[:favor_id] %>
  
<%= f.submit "Confirmar", class:"btn-lg btn-warning" %>
 <br><br>
<% end %>
