<%= form_for(logro) do |f| %>
  <% if logro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(logro.errors.count, "error") %> prohibited this logro from being saved:</h2>

      <ul>
      <% logro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %><br />
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :Puntaje_Minimo %><br />
    <%= f.number_field :min %>
  </div>

  <div class="field">
    <%= f.label :Puntaje_Maximo %><br />
    <%= f.number_field :max %>
  </div>

  <div class="actions">
    <%= f.submit "Confirmar" %>
  </div>
  
<% end %>
