<font color="orange" size="9" >Editando Logro <%= @logro.nombre %></font>
<br>
<br>

<font color="orange" size="5" face="times new roman">Primer Logro </font>
<div class='container'>
<div class="row">
<div class="col-lg-4 col-lg-offset-4 col-md-5 col-md-offset-3">
<div class="table-responsive">
<table class="table table-striped table-hover table-success">
  <thead>
    <tr>
      <th>Imagen</th><th>Nombre</th><th>Minimo</th><th>M치ximo</th> 
    </tr>
  </thead>
  <tbody>
      <tr>
      <td><%= image_tag("#{@logro.primero.imagen}",:class=> "img-circular" ,:style => "border: 3px solid orange",height: 70, width: 70) %></td>
        <td><%= @logro.primero.nombre %></td>
        <td><%= @logro.primero.min %></td>
        <td><%= @logro.primero.max %></td>
      </tr>
    
  </tbody>
</table>
</div></div></div></div>


<% if @logro != @logro.primero %>

<font color="orange" size="5" face="times new roman">Logro Anterior </font>
<div class='container'>
<div class="row">
<div class="col-lg-4 col-lg-offset-4 col-md-5 col-md-offset-3">
<div class="table-responsive">
<table class="table table-striped table-hover table-success">
  <thead>
    <tr>
      <th>Imagen</th><th>Nombre</th><th>Minimo</th><th>M치ximo</th> 
    </tr>
  </thead>
  <tbody>
      <tr>
      <td><%= image_tag("#{@logro.anterior.imagen}",:class=> "img-circular" ,:style => "border: 3px solid orange",height: 70, width: 70) %></td>
        <td><%= @logro.anterior.nombre %></td>
        <td><%= @logro.anterior.min %></td>
        <td><%= @logro.anterior.max %></td>
      </tr>  
  </tbody>
</table>
</div></div></div></div>

<% end%>

<br>
<font color="orange" size="5" face="times new roman">Editar </font>
<%= render 'form', logro: @logro %>

<br>

<% if @logro != @logro.ultimo %>

<font color="orange" size="5" face="times new roman">Logro Siguiente </font>
<div class='container'>
<div class="row">
<div class="col-lg-4 col-lg-offset-4 col-md-5 col-md-offset-3">
<div class="table-responsive">
<table class="table table-striped table-hover table-success">
  <thead>
    <tr>
      <th>Imagen</th><th>Nombre</th><th>Minimo</th><th>M치ximo</th> 
    </tr>
  </thead>
  <tbody>
      <tr>
      <td><%= image_tag("#{@logro.siguiente.imagen}",:class=> "img-circular" ,:style => "border: 3px solid orange",height: 70, width: 70) %></td>
        <td><%= @logro.siguiente.nombre %></td>
        <td><%= @logro.siguiente.min %></td>
        <td><%= @logro.siguiente.max %></td>
      </tr>  
  </tbody>
</table>
</div></div></div></div>
<% end%>
<font color="orange" size="5" face="times new roman">Ultimo Logro </font>
<div class='container'>
<div class="row">
<div class="col-lg-4 col-lg-offset-4 col-md-5 col-md-offset-3">
<div class="table-responsive">
<table class="table table-striped table-hover table-success">
  <thead>
    <tr>
      <th>Imagen</th><th>Nombre</th><th>Minimo</th><th>M치ximo</th> 
    </tr>
  </thead>
  <tbody>
      <tr>
      <td><%= image_tag("#{@logro.ultimo.imagen}",:class=> "img-circular" ,:style => "border: 3px solid orange",height: 70, width: 70) %></td>
        <td><%= @logro.ultimo.nombre %></td>
        <td><%= @logro.ultimo.min %></td>
        <td><%= @logro.ultimo.max %></td>
      </tr>  
  </tbody>
</table>
</div></div></div></div>


<button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i><%= link_to ' Ver', @logro %></button></td>
<button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-certificate"></i><%= link_to ' Logros', logros_path %></button></td>