<font color="orange" size="9" face="times new roman">Editando Logro <%= @logro.nombre %></font>

<h3>Primer Logro =>  Nombre:<%=@logro.primero.nombre%> / Puntaje Minimo:<%=@logro.primero.min%>  / Puntaje Maximo:<%=@logro.primero.max %></h3>

<% if @logro != @logro.primero %>
<h4> Logro Anterior =>   Nombre:<%=@logro.anterior.nombre%> / Puntaje Minimo:<%=@logro.anterior.min%>  / Puntaje Maximo:<%=@logro.anterior.max %></h4>
<% end%>

<br>

<%= render 'form', logro: @logro %>

<br>

<% if @logro != @logro.ultimo %>
<h4> Logro Siguiente =>   Nombre:<%=@logro.siguiente.nombre%> / Puntaje Minimo:<%=@logro.siguiente.min%>  / Puntaje Maximo:<%=@logro.siguiente.max %></h4>
<% end%>

<h3>Ultimo Logro =>  Nombre:<%=@logro.ultimo.nombre%> / Puntaje Minimo:<%=@logro.ultimo.min%>  / Puntaje Maximo:<%=@logro.ultimo.max %></h3>

<%= link_to 'Ver', @logro %> |
<%= link_to 'Logros', logros_path %>
