<p id="notice"><%= notice %></p>

<h1 style="color:#FF8000;">Tabla de Logros</h1>
<div class="table-responsive">
<table class="table table-striped table-hover table-success">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Min</th>
      <th>Max</th>
      <th> </th>
      <th>Opciones</th>
      <th> </th>

    </tr>
  </thead>

  <tbody>
    <% @logros.each do |logro| %>
      <tr>
        <td><%= logro.nombre %></td>
        <td><%= logro.min %></td>
        <td><%= logro.max %></td>
        <td><%= link_to 'Ver', logro %></td>
        <td><%= link_to 'Editar', edit_logro_path(logro) %></td>
        <td><%= link_to 'eliminar', logro, method: :delete, data: { confirm: 'Esta seguro que desea eliminar ese logro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Nuevo Logro', new_logro_path %>
