<p id="notice"><%= notice %></p>

<font color="orange" size="8" face="times new roman">Tabla de Logros</font>

<table  class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Puntaje Minimo</th>
      <th>Puntaje Maximo</th>
      <th>Opciones</th>
   

    </tr>
  </thead>

  <tbody>
    <% @logros.each do |logro| %>
      <tr>
        <td><%= logro.nombre %></td>
        <td><%= logro.min %></td>
        <td><%= logro.max %></td>
        <td><%= link_to 'Ver', logro %>
        <%= link_to 'Editar', edit_logro_path(logro) %>
        <%= link_to 'eliminar', logro, method: :delete, data: {notice: '@logro.nombre', confirm: 'Esta seguro que desea eliminar ese logro? ' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<font size="6"><%= link_to 'Nuevo Logro', new_logro_path %></font>
