
<h1>Logro</h1>
<p>
  <strong>Nombre:</strong>
  <%= @logro.nombre %>
</p>

<p>
  <strong>Min:</strong>
  <%= @logro.min %>
</p>

<p>
  <strong>Max:</strong>
  <%= @logro.max %>
</p>

<%= link_to 'Editar', edit_logro_path(@logro) %> |
<%= link_to 'Atras', logros_path %>
