
<font color="orange" size="8" face="times new roman">Logro <%= @logro.nombre %></font>

<p>
  <strong>Nombre:</strong>
  <strong><%= @logro.nombre %></strong>
</p>

<p>
  <strong>Puntaje Minimo:</strong>
  <strong><%= @logro.min %></strong>
</p>

<p>
  <strong>Puntaje Maximo:</strong>
  <strong><%= @logro.max %></strong>
</p>

<%= link_to 'Editar', edit_logro_path(@logro) %> |
<%= link_to 'Logros', logros_path %>
