
<h1>Logro <%= @logro.nombre %></h1>

<p>
  <strong>Nombre:</strong>
  <strong><%= @logro.nombre %></strong>
</p>

<p>
  <strong>Puntaje Minimo:</strong>
  <%= @logro.min %>
</p>

<p>
  <strong>Puntaje Maximo:</strong>
  <%= @logro.max %>
</p>

<%= link_to 'Editar', edit_logro_path(@logro) %> |
<%= link_to 'Atras', logros_path %>
