<h1 style="color:#FF8000;">Registrarse</h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="container" style="margin-top:20px;">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="well">
        <div class="media">
          <div class="field">
            <div class="col-lg-4 col-md-4" align="right">
              <%= f.label :Email %>
            </div>
            <div class="col-lg-8 col-md-8" align="left">
              <%= f.email_field :email, autofocus: true ,required: true, placeholder: "ejemplo@ejemplo.com" %>
          </div></div><br><br>

          <div class="field">
            <div class="col-lg-4 col-md-4" align="right">
              <%= f.label :contraseña %>
            </div>
            <div class="col-lg-8 col-md-8" align="left">
              <%= f.password_field :password, autocomplete: "off" ,required: true, placeholder: "*********"%>
              <% if @minimum_password_length %>
              <span id="helpBlock" class="help-block">(<%= @minimum_password_length %> caracteres como minimo)</span>
              <% end %>
            </div></div><br><br>

          <div class="field">
            <div class="col-lg-4 col-md-4" align="right">
              <%= f.label :confirmar_contraseña %>
            </div>
            <div class="col-lg-5 col-md-6" align="left">
              <%= f.password_field :password_confirmation, autocomplete: "off" ,required: true, placeholder: "*********" %>
          </div></div><br><br><br>

          <div class="field">
            <div class="col-lg-4 col-md-4" align="right">
              <%= f.label :Nombre %>
            </div>
            <div class="col-lg-5 col-md-6" align="left">
              <%= f.text_field :nombre, autocomplete: "off" ,required: true, placeholder: "Nombre" %>
          </div></div><br><br>

          <div class="field">
            <div class="col-lg-4 col-md-4" align="right">
              <%= f.label :Apellido %>
            </div>
            <div class="col-lg-5 col-md-6" align="left">
              <%= f.text_field :apellido, autocomplete: "off" ,required: true, placeholder: "Apellido" %>
          </div></div><br><br>

          <div class="field">
            <div class="col-lg-4 col-md-4" align="right">
              <%= f.label :nacimiento %>
            </div>
            <div class="col-lg-5 col-md-6" align="left">
            <%= f.date_select :nacimiento, start_year: 2016, end_year: 1920 ,required: true %>
          </div></div><br><br>

          <div class="field">
            <div class="col-lg-4 col-md-4" align="right">
              <%= f.label :telefono %>
            </div>
            <div class="col-lg-5 col-md-6" align="left">
            <%= f.telephone_field :telefono, autocomplete: "off" ,required: true, placeholder: "1234567890" %>
          </div></div><br><br>

          <div class="field">
            <div class="col-lg-4 col-md-4" align="right">
              <%= f.label :localidad %>
            </div>
            <div class="col-lg-5 col-md-6" align="left">
            <%= f.text_field :localidad, autocomplete: "off" ,required: true, placeholder: "Ciudad,Provincia" %>
          </div></div><br><br>

          <div class="field">
            <div class="col-lg-4 col-md-4" align="right">
              <%= f.label :imagen %>
            </div>
            <div class="col-lg-5 col-md-6" align="left">
            <%= f.text_field :imagen %>
          </div></div><br><br>
          <%= f.submit "Registrarse", class:"btn-lg btn-warning" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render "users/shared/links" %>
